* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* .header-image2 {
    justify-content: flex-start;
} */

/* .btn-group {
    background-color: #5AA8B9;

    text-align: center;
    min-width: 100%;
    margin-left: 0;




} */

/* Body  */
body {
    background-color: #7183bb;
    width: 100%;
    align-items: flex-start;
  
}


body h4{
    color: white;
}
.Origines_text {
    color: white;
    font-weight: bold;
    /* justify-content: center;
    align-items: center;
    text-align: center; */
}
.Origines{
    font-size: 3rem;
    /* border-bottom: 2px solid black; */
    font-style: italic;
    margin-bottom: 1em;

    /* text-align: center; */
}
.Origine_video{
    width: 90%;
}
.paragraphe2 {
    stroke: black;
    font-size: x-large;
    margin-bottom: 2em;

}


.paragraphe1 {
    font-size: x-large;
}


body strong {
    text-align: center;
}


/* Début navbar */
nav {
    background-color: #ebeff4;
    height: 80px;
    display: flex;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    margin-top: 12px;
    margin-left: 3%;
    margin-right: 3%;
    width: 94%;
    border-radius: 1em;
    z-index: 2;
    opacity: 0.7;
}
nav:hover{
    opacity: 1.0;
}

.ul_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1140px;
}

nav li {
    margin: 0;
    padding: 0;
    text-align: center;
}

.logo {
    margin-right: auto;

}

.Btnconnexion {
    margin-left: auto;
    background-color: #65bdd1;
    border: solid black 1px;
    border-radius: 15%;
    height: auto;


}

.btn:hover {
    background-color: #ffbb00;


}

.Btnconnexion:hover {
    background-color: #ffbb00;
    border-radius: 15%;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 24px;
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.Navigation:hover {
    background-color: #5AA8B9;
    color: #141414;
    border: solid black 1px;
}

.Banniere {
    height: auto;
    width: 200px;
}

/* Fin navbar */

/* Début Footer */

footer {
    background-color: #141414;
    color: #ffffff;
    padding: 60px 0;
    font-size: 18px;
    line-height: 1.5;
    
    
}

/*  */

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.logoFooter {
    margin-right: auto;
    height: auto;
    width: 250px;
}

.col-lg-4,
.col-md-6,
.col-sm-12,
.col-md-4 {
    padding: 0 15px;
    margin-bottom: 30px;
    text-align: center;

}

.classLienFooter {
    margin-left: auto;
    
}

footer h3 {
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

footer p {
    margin-bottom: 20px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    max-width: 1140px; 

}

.a_footer {
    color: white;
    text-decoration: none;
}

footer h3 {
    color: #ffbb00;
}

footer img {
    height: 50px;
    margin-left: 50px;
    margin-bottom: 1em;
    /* margin-inline: 10em; */

}


footer img:first-child {
    margin-left: 0;
}

footer a:hover {
color: #ffbb00;
}
footer img:hover{
    opacity: 0.8;

}

/* Fin Footer */


/* Début Page Personnage */

.image-text {
    position: relative;
    display: inline-block;
  }
  
  .image-text .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    transition: opacity 0.5s;
    padding-left: 5%;

  }
  
  .image-text:hover .overlay {
    opacity: 1;
  }
  
  .image-text .overlay h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: #ffbb00;
  }
  
  .image-text .overlay p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .image-text .overlay .icones img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
  }
  .icones{
    text-align: left;
    justify-content: center;
    align-items: center;

  }

body iframe {
    width: 40%;
    height: 20em;
    margin-left: 5%;
    margin-right: 4%;
    margin-bottom: 5%;
    border: #141414 solid 5px;

}
.img_background{
width:  100%;
height: 40em;
max-width: 100%;
max-height: auto;
}
.card-image{
    border: #000000 solid 3px;
}











































/* @media (max-width:900px) {
    .btn-group {
        flex-direction: column;
        min-width: 65%;
        max-width: 900px;
        height: 10%;
        font-size: large;
        align-items: flex-start;
        justify-content: center;
    }
} */

/* Pour les écrans de taille moyenne à grande */
/* @media (min-width: 768px) {
    .col-md-6 {
        width: 50%;
    }

    .col-md-12 {
        width: 100%;
    }
} */

/* Pour les écrans de grande taille */
/* @media (min-width: 992px) {
    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-4:nth-child(3n+1) {
        clear: left;
    }
} */