.image-text {
    position: relative;
    display: inline-block;
  }
  /* .img_background{
    width: 100%;
    height: 400em;
  } */
/*   
  .image-text img {
    width: 100%;
    height: auto;
    display: block;
  } */
  
  .image-text .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* margin-left: 5%; */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    transition: opacity 0.5s;
    padding-left: 5%;

  }
  
  .image-text:hover .overlay {
    opacity: 1;
  }
  
  .image-text .overlay h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: #ffbb00;
    text-decoration: underline black;
  }
  
  .image-text .overlay p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .image-text .overlay .icones img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
  }
  .icones{
    text-align: left;
    justify-content: center;
    align-items: center;
    /* padding-left: 5%; */

  }

 